{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "jsx-quotes": [2, "prefer-single"],
    "array-bracket-spacing": [2, "always"]
  },
  "plugins": [
    "require-path-exists"
  ]
}
